<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Match</title>
</head>
<body>
    <header>
        <a href="listaMatches.html">Ver matches</a>
    </header>
    <form action="/match.html">
        <button type="submit" name="pessoa" value="1">
            <img src="pessoa1" alt="">
        </button>
        <button type="submit" name="pessoa" value="2">
            <img src="pessoa2" alt="">
        </button>
    </form>
</body>
</html>