<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sexo</title>
</head>
<body>
    <form action="/match.html">
        <input name="sexo" type="radio" value="h">
        <input name="sexo" type="radio" value="m">
        <input name="sexo" type="radio" value="hm">
        <label>
            <input type="checkbox" checked required>
            Aceito que posso ser demitido
        </label>
        <button type="submit">Katiau</button>
    </form>
</body>
</html>